{% extends "layouts/base.html" %}

{% block title %}Pesanan Masuk{% endblock title %}

{% block content %}
<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Pesanan Masuk</h6>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID Order</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID Produk</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID Supplier</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nama Pemesan</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Asal Pemesan</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jumlah</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tanggal Order</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status Order</th>
                </tr>
              </thead>

            <tbody>
              {% for order, detail in data %}
              <tr>
                <td>{{ order.id_order }}</td>
                <td>{{ detail.id_product }}</td>
                <td>{{ detail.id_supplier }}</td>
                <td>{{ order.nama_pemesan }}</td>
                <td>{{ order.asal_pemesan }}</td>
                <td>{{ detail.jumlah }}</td>
                <td>{{ order.tanggal_order.strftime('%Y-%m-%d') if order.tanggal_order else '-' }}</td>
                <td>{{ order.status_order or '-' }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="8" class="text-center text-muted">Belum ada data pesanan</td>
              </tr>
              {% endfor %}
            </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>
{% endblock content %}
