{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Edit Info</h5>
                </div>
                <div class="card-block px-4">
                    <form class="row" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        {% for field in form %}
                            {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                                {{ field() }}
                            {% else %}
                                <div class="{% if field.name in full_width_fields %}col-sm-12{% else %}col-sm-6{% endif %} mb-3">
                                    <div class="form-group">
                                        <label for="" class="form-label">{{ field.name|replace_value("_") }} {% if field.name in readonly_fields %}(read-only){% endif %} </label>
                                        {{ field(class_="form-control border ps-1", readonly=True if field.name in readonly_fields else False) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <div class="w-50 p-3">
                            {% if supplier and supplier.photo %}
                                <img src="{{ url_for('static', filename='uploads/' ~ supplier.photo) }}" alt="Foto Supplier"
                                    class="img-fluid rounded-circle">
                            {% else %}
                                <img src="{{ url_for('static', filename='assets/img/avatar.jpg') }}" alt="profile image"
                                    class="img-fluid rounded-circle">
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <h4 class="font-weight-bold h6">
                                {% if supplier %}{{ supplier.nama_supplier }}{% else %}{{ current_user.username }}{% endif %}
                            </h4>
                            <p class="font-italic text-muted">
                                {% if supplier and supplier.email %}{{ supplier.email }}{% else %}{{ current_user.email }}{% endif %}
                            </p>
                            <p>
                                {% if supplier and supplier.kota %}Kota: {{ supplier.kota }}{% endif %}
                                {% if supplier and supplier.telepon %}<br>Telepon: {{ supplier.telepon }}{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="small font-weight-light mt-4 text-center text-muted">
                        <p>
                            Halaman ini adalah ruang pribadi supplier.<br />
                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/edit_profile" class="h6 text-muted d-block m-1"><i class="icon feather icon-edit"></i> Edit Profil</a>
                        <a href="/change_photo" class="h6 text-muted d-block m-1"><i class="icon feather icon-image"></i> Ganti Foto</a>
                        <a href="/supplier_orders" class="h6 text-muted d-block m-1"><i class="icon feather icon-list"></i> Pesanan</a>
                        <a href="/supplier_products" class="h6 text-muted d-block m-1"><i class="icon feather icon-package"></i> Produk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}